.pen-register {
  width: 100%;
  height: 100%;
}
.pen-register .register-header {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 20px 0;
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
}
.pen-register .register-header .header-content {
  width: 45%;
  margin: 0 auto;
}
.pen-register .register-header .header-content h1 {
  color: #333;
  font-size: 30px;
  line-height: 40px;
  margin: 0;
  font-weight: bold;
  opacity: .9;
}
.pen-register .register-header .header-content button {
  background: #fff;
  border: 3px solid #666;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  outline: none;
  opacity: .9;
  font-size: 20px;
  color: #666;
}
.pen-register .register-content {
  width: 100%;
  height: -moz-calc(100% - (80px));
  height: -webkit-calc(100% - (80px));
  height: calc(100% - (80px));
  background: #f1f1f1;
  padding-top: 60px;
  box-sizing: border-box;
}
.pen-register .register-content .register-form {
  width: 45%;
  background: #fff;
  margin: 0 auto;
  border-radius: 10px;
}
.pen-register .register-content .register-form h2 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #21a8f9;
  font-size: 35px;
  font-weight: bold;
}
.pen-register .register-content .register-form .form-horizontal {
  width: 350px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.pen-register .register-content .register-form .form-horizontal .input-group-addon {
  width: 90px;
  padding: 0;
  padding-right: 5px;
  text-align: right;
}
.pen-register .register-content .register-form .form-horizontal .input-group-addon:last-child {
  width: 50px;
}
.pen-register .register-content .register-form .form-horizontal button {
  background: #21a8f9;
  border: none;
}
