html,
body {
  width: 100%;
  height: 100%;
}
.mian-body {
  width: 100%;
  height: 100%;
  background: #EAEEF2;
}
.mian-body .main-left {
  width: 65%;
  height: 100%;
  float: left;
}
.mian-body .main-left .main-chart {
  width: 100%;
  height: 470px;
  background: #fff;
}
.mian-body .main-left .main-chart #pen-chart {
  height: 100%;
}
.mian-body .main-left .main-footer {
  width: 100%;
  height: calc(100% - 490px);
  margin: 10px 0;
  box-sizing: border-box;
  background: #fff;
}
.mian-body .main-left .main-footer #footer-chart {
  height: 100%;
}
.mian-body .main-left .main-footer h5 {
  width: 100%;
  line-height: 50px;
  color: #333;
  padding-left: 25px;
  font-size: 20px;
  font-weight: bold;
}
.mian-body .main-left .main-footer .main-nav {
  width: 98%;
  height: calc(100% - 70px);
  margin: 0 auto;
  box-sizing: border-box;
}
.mian-body .main-left .main-footer .main-nav .main-nav-list {
  float: left;
  width: 50px;
  height: calc(100%);
  margin: 10px 0;
}
.mian-body .main-left .main-footer .main-nav .main-nav-list li {
  display: block;
  width: 100%;
  line-height: 55px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px 0 0 10px;
  position: relative;
  cursor: pointer;
}
.mian-body .main-left .main-footer .main-nav .main-nav-list li .nav-slider {
  position: absolute;
  width: 0;
  height: 0;
  border-color: #ccc;
}
.mian-body .main-left .main-footer .main-nav .main-nav-list li:hover {
  background: #009DDD;
  opacity: .9;
  color: #fff;
}
.mian-body .main-left .main-footer .main-nav .main-nav-list .active {
  background: #009DDD;
  color: #FFF;
}
.mian-body .main-left .main-footer .main-nav .nav-content {
  float: left;
  width: calc(100% - 50px);
  height: 100%;
}
.mian-body .main-left .main-footer .main-nav .nav-content .content-item {
  height: 100%;
  box-sizing: border-box;
}
.mian-body .main-left .main-footer .main-nav .nav-content .content-item table {
  /*height: 100% !important;*/
}
.mian-body .main-left .main-footer .main-nav .nav-content .content-item table thead th {
  text-align: center;
}
.mian-body .main-right {
  width: calc(34%);
  float: right;
  height: calc(100% - 10px);
  margin-bottom: 10px;
  background: #fff;
  padding: 0 20px;
}
.mian-body .main-right h5 {
  width: 100%;
  line-height: 70px;
  color: #333;
  padding-left: 25px;
  font-size: 20px;
  font-weight: bold;
}
.mian-body .main-right .main-progress {
  width: 100%;
  height: 470px;
  border-bottom: 1px solid #ccc;
}
.mian-body .main-right .main-progress .progress-item {
  height: 30px;
  width: 99%;
  margin: 5px auto;
  padding: 5px 0;
}
.mian-body .main-right .main-progress .progress-item div {
  float: left;
  height: 100%;
}
.mian-body .main-right .main-progress .progress-item .progress-title {
  width: 100px;
  text-align: right;
  padding-right: 15px;
  color: #333;
  font-size: 14px;
}
.mian-body .main-right .main-progress .progress-item .progress-content {
  width: calc(100% - 200px);
}
.mian-body .main-right .main-progress .progress-item .progress-content .progress {
  width: 100%;
  height: 20px;
  background-color: #EAEFF0;
  border-radius: 100px;
}
.mian-body .main-right .main-progress .progress-item .progress-content .progress .progress-bar {
  border-radius: 100px;
}
.mian-body .main-right .main-progress .progress-item .progress-money {
  width: 70px;
  text-align: left;
  padding-left: 10px;
}
.mian-body .main-right .main-table .layui-table thead tr th {
  text-align: center;
}
