/* 
一些公共的样式
*/
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.full-left {
  float: left;
}
.full-right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
/*公共margin、padding样式*/
.mt10 {
  margin-top: 10px;
}
.ml10 {
  margin-left: 10px;
}
.pl0 {
  padding-left: 0;
}
.pr0 {
  padding-right: 0;
}
.pt7 {
  padding-top: 7px;
}
.pt15 {
  padding-top: 15px;
}
.pr5 {
  padding-right: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl25 {
  padding-left: 25px;
}
.pr30 {
  padding-right: 30px;
}
/*公共文本对齐样式*/
/*公共组件样式*/
.btn-group {
  padding-left: 5px;
}
.btn-group .pen-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.btn-group .pen-btn:hover {
  background: #ddd;
}
.pen-btn-group {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  padding-right: 15px;
  background: #f0f4f7;
  border-top: 1px solid #ddd;
}
.layui-layer-btn {
  background: #f8f8f8;
  border-top: 1px solid #eee;
}
.required-filed label {
  position: relative;
}
.required-filed label span {
  position: absolute;
  right: 5px;
  top: 7px;
  color: red;
}
