/* 
一些公共的样式
*/
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.full-left {
  float: left;
}
.full-right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
